* {margin:0;}
a {text-decoration:none}
body {background:rgba(248,248,248,1);background-image:url('../images/sign/background.png');background-size:100%;background-repeat:no-repeat;}
.navigation {width:100%;padding:10px 0;height:30px;}
.navigation .center-div {color:#fff;width:100px;text-align:center;margin:0 auto;font-size:17px;margin-top:5px;float:left;position:absolute;left:0;right:0;margin-left:auto;margin-right:auto;}
.navigation img {float:left;margin:0 15px;margin-top:8px;}
.container {padding:0 22px;}
.title-div {font-size:12px;color:#ffffff;margin-top:12px;}
.title-div p {line-height:30px;}
.title-div div {width:215px;height:21px;line-height:21px;text-indent:10px;background:linear-gradient(270deg,rgba(254,111,113,0) 0%,rgba(223,46,80,1) 100%);border-radius:11px;}
.title-div .number {margin:15px 0;font-size:36px;}
.sign-div {margin-top:24px;padding:15px 12px 30px 16px;background:rgba(255,255,255,1);border-radius:16px;}
.sign-div h4 span {float:right;font-size:12px;font-weight:400;color:#666666;}
.sign-div p {margin-top:10px;font-size:12px;color:#666666;}
.item-div {color:#999999;margin-top:20px;font-size:12px;min-height:165px;}
.item-div img {width:25px;height:25px;margin-top:5px;}
.item-div .left {width:80%;display:flex;float:left;margin-bottom:9px;}
.item-div .left span {padding-top:5px;text-align:center;display:block;margin-left:5%;width:29%;height:73px;background:#F7F7F7;border-radius:4px;}
.item-div .left span:first-child {margin-left:0;}
.item-div .right {background-image:url('../images/sign/gift.png');background-size:100%;background-repeat:round;width:19%;height:165px;float:right;}
.item-div .right p {text-align:center;color:#982121;font-size:12px;font-weight:600;margin-top:7px;}
.item-div .right p:last-child {margin-top:106px;}
.cick {color:#ffffff;background:linear-gradient(360deg,rgba(254,207,113,1) 0%,rgba(254,108,74,1) 100%) !important;}
.button-div {margin-top:30px;text-align:center}
.button-div button {color:#ffffff;font-size:16px;width:100%;height:50px;background:linear-gradient(90deg,rgba(254,114,113,1) 0%,rgba(254,74,113,1) 100%);box-shadow:0px 6px 12px 0px rgba(255,0,0,0.2);border:0;border-radius:25px;}
.list-div {margin:16px 0;padding:16px;background:rgba(255,255,255,1);border-radius:16px;}
.list-div .item {margin-top:32px;}
.list-div .item img {float:left;}
.list-div .item p {text-indent:5px;line-height:22px;font-size:12px;color:#666666;}
.list-div .item .bold {font-size:16px;color:#333333;font-weight:600;}
.list-div .item .min {line-height:18px;display:inline-flex;width:60px;height:18px;font-size:10px;color:#FF8C00;background:rgba(255,246,227,1);border-radius:8px;margin-left:8px;}
.list-div .item .btn {color:#999999;width:72px;height:32px;background:#F3F3F5;border-radius:16px;border:0;float:right;margin-top:-40px;}
.list-div .item .action {color:#ffffff;width:72px;height:32px;background:linear-gradient(90deg,rgba(254,114,113,1) 0%,rgba(254,74,113,1) 100%);border-radius:16px;border:0;float:right;margin-top:-40px;}
/**iPhone4、5*/        
@media screen and (max-width:330px) {
.container {padding:0 10px;}
.list-div .item .bold {font-size:14px;}
}
